@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap&subset=japanese");

body {
    column-gap: 1.5em;
    columns: 25em;
    font-family: "Noto Serif CJK JP", "源ノ明朝", "Noto Serif JP", serif;
    height: 25em;
    letter-spacing: 0.03em;
    line-height: 2.2em;
    margin: 30px;
    max-width: 45em;
    overflow-wrap: break-word;
    text-align: justify;
    writing-mode: vertical-rl;
}

h2 {
    margin-inline-start: 1em;
}

ruby {
    text-indent: 0px;
}

.author {
    text-align: right;
}

.wrap {
    position: absolute;
    right: 0;
}

.tcy {
    text-combine-upright: all;
}
